:root {
    --main-text-color: #2E2F42;
    --second-text-colorr: #434455;
}
body {
font-family: 'Roboto', sans-serif;
color: #434455;
background-color: #FFFFFF;
}
p, h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
}
ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.link {
 text-decoration: none;
}
 .list {
    list-style: none;
 }
.container {
    width: 100%;
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    /* outline: 2px solid red; */
} 


.sektion-title {
font-weight: 500;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    text-transform: capitalize;
}
.section-subtitle {
font-weight: 500;
    font-size: 20px;
    line-height: 1.20;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}
.sektion-text {
    font-size: 16px;
        line-height: 1.50;
        letter-spacing: 0.02em;
        color: var(--second-text-colorr);
}
 /* ---------HEADER---------- */
.header {
    padding-top: 24px;
    padding-bottom: 24px;
    overflow: auto;
}
.header-menu {
    display: flex;
    gap: 40px;
}
.header-soc {
    display: flex;
}
.header-novigation {
    display: flex;
}
.header-container {
display: flex;
}
 .header-logo {
    font-family: "Raleway", sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4D5AE5;
        display: flex;
        padding-right: 76px;
 }
.logo-color {
color: #2e2f42;
}
.header-novigation {
    list-style: none;
margin: auto 0;
}
.header-menu-item {
font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--main-text-color);
}
.header-menu-link:is(:hover, :focus) {
    color: #404bbf;
}
.header-menu-link  {
    color: #2e2f42;
}
.header-soc-link {
    letter-spacing: 0.02em;
    color: #434455;
    padding-left: 40px;
}
.header-soc {

}
.header-address {
    margin-left: auto;
    font-style: normal;
   
}
.header-soc-item {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--second-text-colorr);
}
.header-soc-link:is(:hover, :focus) {
color: #404bbf;
}
/* ---------HERO---------- */
.hero{
    padding: 188px 0;
background: #2E2F42;
}
.hero-container {
background: #2E2F42;

}
.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    max-width: 496px;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
}
.hero-btn {
    font-family: "Roboto",
        sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #4D5AE5;
    cursor: pointer;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.hero-btn:is(:hover, :focus) {
background-color: #404BBF
}

/* ---------ADVENTAGES---------- */
.adventages-container {
    padding-top: 120px;
}
.adventages{}

.adventages-list {
display: flex;
gap: 24px
}
.adventages-subtitle {
    margin-bottom: 8px;
}
.adventages-item {
    width: calc((100% - 24px) / 4);
}

/* ---------DOINGES---------- */
.doinges-container {
    padding-top: 120px;
}
.doinges-title {
    max-width: 323px;
        margin: 0 auto;
    margin-bottom: 72px;
}
.doinges {}

.doinges-list {
    display: flex;
    gap: 24px;
    padding-bottom: 120px;
}

.doinges-item {
    width: calc((100% - 48px) / 3);
    }


/* ---------TEAM---------- */

.team {
    background-color: #F4F4FD;
}
.team-title {
text-transform: capitalize;
padding-top: 120px;
padding-bottom: 72px;
max-width: 162px;
    margin: 0 auto;
}
.team-subtitle {
    display: flex;
    margin-top: 32px;
    margin-bottom: 8px;
    justify-content: center;
        align-items: center;
}
.team-text {
display: flex;
justify-content: center;
    align-items: center;
    padding-bottom: 152px;
}

.team-list { 
display: flex;
gap: 24px;
}

.team-item {
background-color: #FFFFFF;
}

/* ---------LOKATION---------- */

.location {}

.location-list {
    display: flex;
    gap: 24px;
    justify-content: center;
        align-items: center;
        margin-top: 96px;
        margin-bottom: 72px;

}

.location-item {

}

.location-btn { 
     font-family: "Roboto",
        sans-serif;
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        text-align: center;
        letter-spacing: 0.04em;
        color: #4D5AE5;
        cursor: pointer;
        background: #F4F4FD;
}
.location-btn:is(:hover, :focus) {
color: #FFFFFF;
}
.location-btn:is(:hover, :focus)
 {
background-color: #404BBF;
}
/*------------ DIRECTIONS -----------*/
.directions-list {
display: flex;
 flex-wrap: wrap;
 gap: 48px 24px;
}
.directions-subtitle {
    padding: 32px 0 8px 16px;
    
}
.directions-text {
    padding-left: 16px;
}
.directions-dekor {
    padding-bottom: 120px;

}
/* ---------FINISH---------- */
.finish {
background-color: #2e2f42;
}

.finish-logo  {
    font-family: 'Raleway',
        sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
background-color: #2e2f42;
}
.finish-logo span {
    color: #f4f4fd;
}
.finish-text {
color: #F4F4FD;
max-width: 264px;
}
.container-finish {
    padding-top: 100px;
    padding-bottom: 100px;
    
}
.container-finish-text {
    margin-top: 16px;
}